body {
  background: url('assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.playing {
  transform: scale(3.3);
  transition-delay: 2s;
  border-width: 4px;
}

.keys {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.key {
  padding: 10px 20px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
}

kbd {
  font-size: 36px;
  color: rgb(255, 255, 255);
}

.sound {
  font-size: 20px;
  color: rgb(163, 163, 22);
}
